<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062926937674-v9u1s45fu165gbotd6br4f1b8af5h6fm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062926937674-v9u1s45fu165gbotd6br4f1b8af5h6fm</string>
	<key>API_KEY</key>
	<string>AIzaSyA8fgSIIlLrLt158geVV2yjnjPfChHYwBY</string>
	<key>GCM_SENDER_ID</key>
	<string>1062926937674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.craftmyplate.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>craftmyplate-8f3a1</string>
	<key>STORAGE_BUCKET</key>
	<string>craftmyplate-8f3a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062926937674:ios:7cede539bb1230d801c0b3</string>
</dict>
</plist>